@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic);

body {
    background-color: #ecebeb;
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12pt;
    margin: 0 0 116px; /* bottom = footer height */
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 5px;
}

#header {
    background-image: url("../img/header.jpg");
    background-repeat: repeat-x;
    color: white;
    height: 80px;
}

#logo {
    height: 70px !important;
    width: auto !important;
}

#socialmed {
    text-align: right;
    padding-right: 50px;
}

#copyright {
    padding-top: 30px;
}

#login {
    margin-top: 18px;
}

#computer {
    width: 100%;
    height: auto;
}

#registration {
    width: 100%;
    padding: 20px;

}

#register {
    background-color: #76C7C0 !important;
    padding: 15px;
    /*border: 2px solid black;*/
    border-radius: 8px;
}

    #register form input {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 1px;
    }

/* login css */
.form-inline {
    text-align: right;
    padding-right: 50px;
}

/* Footer CSS below! */
html {
    position: relative;
    min-height: 100%;
}

.btn {
    padding-right: 10px;
    background-color: #e3524d;
    border: none;
    color: white;
    border: 0 none;
    font-weight: 300;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open > .dropdown-toggle.btn {
    background: #eb837f;
}

a, a:link, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
}

/* Footer CSS below! */
html {
    position: relative;
    min-height: 100%;
}

#footer {
    background-image: url("../img/footer.jpg");
    background-repeat: repeat-x;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 116px;
    width: 100%;
    overflow:hidden;
    /* footer content*/
    color: white;
    font-variant: small-caps;
    padding-top: 1em;
}
/* end of footer CSS */
