<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/add_goal.css' %}">
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jQuery import -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/add_goals.js' %}"></script>
</head>
<body>
    <div id ="wrapper">
        <div class="container-fluid">
            <div class="row" id='header'>
                <img id='logo' class='col-xs-1' src="{% static 'img/omgoalslogo.png' %}" />
                <div class='col-xs-9'>
                    <div id='toolbar' role='toolbar'>
                        <button type='button' class='btn btn-secondary'><a href="{%url 'dash'%}">Today</a></button>
    					<button type='button' class='btn btn-secondary active'>Add</button>
    					<button type='button' class='btn btn-secondary'><a href="{%url 'profile'%}">Profile</a></button>
    					<button type='button' class='btn btn-secondary'><a href="{%url 'journal'%}">Journal</a></button>
    					<button type='button' class='btn btn-secondary'><a href="{%url 'achieved_page'%}">Achieved</a></button>
                        <button id='store' type='button' class='btn btn-secondary'>Store</button>
                        <a href="{%url 'logout'%}"><button id='logout' type='button' class='btn btn-primary'>Log Out</button></a>
                    </div>
                </div>
            </div>

            <div id="content" class='row'>
                <div class="col-sm-offset-1 col-sm-6">
                <!-- Goal form -->
                    <form class="form-horizontal" action='{%url "insert_goal" %}' method='post'>
                        {% csrf_token %}
                        <div class="col-sm-offset-2 col-sm-10" id="smart_description">
                            <h2>Is your goal a S.M.A.R.T. goal?</h2>
                            <p><strong>Specific:</strong> the goal clearly states what it will achieve</p>
                            <p><strong>Measurable:</strong> you will know when you have achieved your goal</p>
                            <p><strong>Achievable:</strong> the goal can actually be met</p>
                            <p><strong>Relevant:</strong> the goal reflects your values in life</p>
                            <p><strong>Time Specific:</strong> you know when you want to achieve this goal by</p>
                        </div>

                        <div class="form-group">
                            <label for="goal_name" class="col-sm-2 control-label">Goal Name</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="goal_bame" placeholder="Ex: Run a marathon" name='title' />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="milestone1" class="col-sm-2 control-label">Milestone #1</label>
                            <div class="col-sm-9">
                                <input class="form-control milestone" type="text" placeholder="Ex: Run 2 laps around the track" name='milestone1' />
                            </div>
                        </div>

                        <div class='col-sm-1 col-sm-offset-10' id='milestone_insert'>
                            <img src="{% static 'img/plusbutton.png' %}" id="plus" />
                        </div>

                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Goal Description</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" type="textarea" id="description" name='description'></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="due_date" class="col-sm-2 control-label">Due Date</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="date" id="due_date" name='due_date'/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="priority" class="col-sm-2 control-label">Priority</label>
                            <div class='col-sm-9'>
                                <select class="form-control" id="priority" name='priority'>
                                    <option>--</option>
                                    <option value="low">Low</option>
                                    <option value="medium">Medium</option>
                                    <option value="high">High</option>
                                    <option value="top">Top Priority</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="category" class="col-sm-2 control-label">Goal Category</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="category" name='category'>
                                    <option>--</option>
                                    <option value="Career">Career</option>
                                    <option value="Diet">Diet</option>
                                    <option value="Education">Education</option>
                                    <option value="Finance">Finance</option>
                                    <option value="Fitness">Fitness</option>
                                    <option value="Hobbies">Hobbies</option>
                                    <option value="Lifestyle">Lifestyle</option>
                                    <option value="Relationships">Relationships</option>
                                    <option value="Spiritual">Spiritual</option>
                                    <option value="Travel">Travel</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="animal_name" class="col-sm-2 control-label">Animal</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="animal_name" name='animal_name' />
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-9">
                                <input type='submit' id="create" type='button' class='btn btn-primary' value='Create Goal'>
                            </div>
                        </div>
                    </form>
                </div>

                <div class='col-sm-5'>
                    <div id="animals" class="form-group">
                        <img src="{% static 'img/penguin1.png' %}" id="penguin" class="col-sm-offset-2 col-sm-10 icon" />
                        <img src="{% static 'img/owl1.png' %}" id="owl" class="col-sm-offset-2 col-sm-10 icon" />
                        <img src="{% static 'img/pony1.png' %}" id="horse" class="col-sm-offset-2 col-sm-10 icon" />
                    </div>
                </div>
                <div id="footer">
                    <div class='col-xs-3 col-xs-offset-1'id='copyright'>
                        &copy; OH MY GOALS 2016
                    </div>
                    <div id='socialmed' >
                        <img src="{% static 'img/socialmediaicons.png' %}" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
