<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/dash.css' %}">
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon"/>
    <link rel="stylesheet" href="{% static 'css/avgrund.css' %}">
	<script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
	<script type="text/javascript" src="{% static 'login_reg_app/js/jquery.avgrund.min.js' %}"></script>
    <script type="text/javascript">
		$(document).ready(function(){



			$(document).on('click', 'img.animal_img', function(){

				var milestones = $(this).attr('value');

				$(this).avgrund({
					width: 380, // max is 640px
					height: 280, // max is 350px
					showClose: false, // switch to 'true' for enabling close button
					showCloseText: '', // type your text for close button
					closeByEscape: true, // enables closing popup by 'Esc'..
					closeByDocument: true, // ..and by clicking document itself
					holderClass: '', // lets you name custom class for popin holder..
					overlayClass: '', // ..and overlay block
					enableStackAnimation: false, // another animation type
					onBlurContainer: '', // enables blur filter for specified block
					openOnEvent: true, // set to 'false' to init on load
					setEvent: 'click', // use your event like 'mouseover', 'touchmove', etc.
					//onLoad: function (elem) { ... }, // set custom call before popin is inited..
					//onUnload: function (elem) { ... }, // ..and after it was closed
					template: 
					"<table>\
						<tr>\
							<th>Done</th>\
							<th>Milestone</th>\
							<th>Completed?</th>\
						</tr>\
					</table>"
				});
			})
		});
	</script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="wrapper">
		<div class="container-fluid">
			<div class="row" id='header'>
				<img id='logo' class='col-xs-1' src="{% static 'img/omgoalslogo.png' %}" />
	                <div class='col-xs-9'>
					<div id='toolbar' class='btn-group' role='toolbar'>
						<button type='button' class='btn btn-secondary active'>Today</a></button>
						<button type='button' class='btn btn-secondary'><a href="{%url 'add_goal'%}">Add</a></button>
						<button type='button' class='btn btn-secondary'><a href="{%url 'profile'%}">Profile</a></button>
						<button type='button' class='btn btn-secondary'><a href="{%url 'journal'%}">Journal</a></button>
						<button type='button' class='btn btn-secondary'><a href="{%url 'achieved_page'%}">Achieved</a></button>
						<button id='store' type='button' class='btn btn-secondary'>Store</button>
						<a href="{%url 'logout'%}"><button id='logout' type='button' class='btn btn-primary'>Log Out</button></a>
					</div>
				</div>
			</div>
		</div>

		<!-- keep this content div for styling -->
		<div id="content" class="container-fluid">
			<div class='row' id="dashboard">
				<div class='col-xs-3 col-xs-offset-1' id='welcome'>
					<div class='div_headers'>
						<h4>Welcome back, {{user.alias}}!</h4>
						<h5>{{today}}</h5>
					</div>
					<div class='col-xs-12' id='stats'>
						<p>Making gainz for 69 days</p>
						<p>Days of consecutive progress: 4</p>
						<p>Goals completed: 10</p>
						<p>Goals in progress: 4</p>
					</div>
					<div class='col-xs-10 col-xs-offset-1' id='friends_list'>
						<h4>Friends List</h4>
						<h5>4 friends</h5>
						<div class='row' id="friends">
							<img id='people' class='col-xs-10 col-xs-offset-1' src="{% static 'img/profilepic.png' %}" />
						</div>
					</div>
				</div>

				<div id="all_goals" class='col-xs-7' id='right_dash'>
					<div class='col-xs-12' id='daily'>
						<div class='div_headers'>
							<h3>Daily Goals</h3>
						</div>
						<div id='daily_list'>
							<img class='dailies' src="{% static 'img/socks.png' %}" />
							<img class='dailies' src="{% static 'img/guitar.png' %}" />
							<img class='dailies' src="{% static 'img/shoe.png' %}" />
							<img class='dailies' src="{% static 'img/trash.png' %}" />
						</div>
					</div>
					<div class='col-xs-12' id='goals'>
						<div class='div_headers'>
							<h3>Your Goals</h3>
						</div>
						<div id='goal_list'>
							{% for value in goals %}
							<div class='goal_box col-xs-4'>
								<img class="animal_img" src="{% static 'img/'|add:value.0 %}" value="{{value.4}}"/>
								<div class='progress col-xs-12'>
									<div class='bar' style="width:{{value.1}}%"></div>
								</div>
								<h3>{{value.2}}</h3>
								<h4>{{value.3}}</h4>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>

        <div id="footer">
            <div class='col-xs-3 col-xs-offset-1'id='copyright'>
                &copy; OH MY GOALS 2016
            </div>
            <div id='socialmed' >
                <img src="{% static 'img/socialmediaicons.png' %}" />
            </div>
        </div>
</body>
</html>
