<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/journal.css' %}">
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jQuery import -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script type="text/javscript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'js/journal.js' %}"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/resources/demos/style.css">

</head>

<body>
    <div id ="wrapper">
        <div class="container-fluid">
            <div class="row" id='header'>
                <img id='logo' class='col-xs-1' src="{% static 'img/omgoalslogo.png' %}" />
                <div class='col-xs-9'>
                    <div id='toolbar' role='toolbar'>
                        <button type='button' class='btn btn-secondary'><a href="{%url 'dash'%}">Today</a></button>
    					<button type='button' class='btn btn-secondary'><a href="{%url 'add_goal'%}">Add</a></button>
    					<button type='button' class='btn btn-secondary'><a href="{%url 'profile'%}">Profile</a></button>
    					<button type='button' class='btn btn-secondary active'>Journal</button>
    					<button type='button' class='btn btn-secondary'><a href="{%url 'achieved_page'%}">Achieved</a></button>
                        <button id='store' type='button' class='btn btn-secondary'>Store</button>
                        <a href="{%url 'logout'%}"><button id='logout' type='button' class='btn btn-primary'>Log Out</button></a>
                    </div>
                </div>
            </div>

            <div class='row' id="page_title">
                <h1 class="col-xs-2 col-xs-offset-2">JOURNAL</h1>
            </div>

            <div class='row' id="content">
                <div class="col-xs-2"></div>
                <div class="ui-widget-header ui-corner-top col-xs-5" id="tabs">
                  <ul>
                    {%for entry in journal_entries%}
                    <li><a href="#tabs-{{forloop.counter}}">{{entry.entry_date}}</a></li>
                    {%endfor%}
                  </ul>
                  {%for entry in journal_entries%}
                  <div id="tabs-{{forloop.counter}}">
                    <p>{{entry.entry}}</p>
                  </div>
                  {%endfor%}
                </div>

            <div class="col-xs-3" id="accordion">
                <h3>Current Goals</h3>
                    <div>
                        {%for entry in journal_entries%}
                        <p class="goal" value="{{forloop.counter}}">Goal {{forloop.counter}}</p>
                        {%endfor%}
                    </div>
              <h3>Completed Goals</h3>
                  <div> 
                        {%for completed in achieved%}
                        <p>Goal {{forloop.counter}}</p>
                        {%endfor%}
                  </div>
              <h3>Other</h3>
              <div>
                  <div>
                        <p>Goal 1</p>
                        <p>Goal 2</p>
                        <p>Goal 3</p>
                  </div>
              </div>
            </div>
            <div class="col-xs-2"></div>
            </div>

            <div class='row' id="page_title">
                <h1 class="col-xs-2 col-xs-offset-2">NEW ENTRY</h1>
            </div>

            <form class="form-horizontal" action="{%url 'add_journal'%}" method="post">
                {% csrf_token %}
                <div class='row' id="journal_entry">
                    <div class="form-group">
                        <label for="due_date" class="col-xs-2 control-label">Date</label>
                        <div class="col-xs-5">
                            <input class="form-control" type="date" id="due_date" name='due_date'/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="goal" class="col-xs-2 control-label">Goal</label>
                        <div class='col-xs-5'>
                            <select class="form-control" id="goal" name='goal'>
                                {%for entry in journal_entries%}
                                <option value="{{entry.goal_id.id}}">Goal {{forloop.counter}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="text_entry" class="col-xs-2 control-label">Journal Entry</label>
                        <div class="col-xs-5">
                            <textarea class="form-control" id="text_entry" name="entry" placeholder="&ldquo;Today I worked towards my goal to...&rdquo;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-9">
                            <input type='submit' id="submit" type='button' class='btn btn-primary' value='Submit'>
                        </div>
                    </div>
                </div>
            </form>


            <div id="footer">
               <div class='col-xs-3 col-xs-offset-1'id='copyright'>
                    &copy; OH MY GOALS 2016
                </div>
                <div id='socialmed' >
                    <img src="{% static 'img/socialmediaicons.png' %}" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
